.center {
    text-align: center;
}

#input-parent{
    width: 160px;
    margin: 50px auto;
    position: relative;
}

#player-input {
    width: 160px;
    height: 160px;
    color: white;
    border-radius: 50%;
    border: 4px rgb(77, 255, 23) solid;
    background-color:black;
    font-size: 42px;
}

#player-input:focus{
    color: white;
    border: 4px rgb(77, 255, 23) solid;
    background-color:black;
    outline: none;
    box-shadow: 0px 0px 10px white;
}

#player-input::placeholder {
    color:white;
}

#player-input:focus::placeholder {
    color:white;
}


#submit-button{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 110px;
    left: 110px;
    border-radius: 50%;
    padding-left: 9px;
}

ul {
    list-style: none;
    padding: 0;
}

.guess {
    display: inline;
    padding: 0px 24px;
    border: 3px solid rgb(77, 255, 23);
    margin: 5px;
    background-color: black;    
    border-radius: 6px;
    font-size: 60px;
    color: white;
}

#footer {
    width: 100%;
    max-height: 100px;
    border-top: solid 2px black;
    background-color: white;
    position: fixed;
    bottom: 0;
}

#fullstack {
    width: 350px;
    height: 100px;
}

#grace-hopper {
    width: 350px;
    height: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

#background {    
    background-image: url('bankvault.jpg');
    background-position: top;
    min-width: 1000px;
}

#app {
    min-width: 100%;
    position: fixed;
    top: 100px;
    
}


#title {
    font-family: 'Unlock', monospace;
    font-size: 100px;
    color: rgb(84, 241, 45);
    text-shadow: black 5px 5px 20px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    margin: 0;
    position: relative;
}

#subtitle {
    font-family: 'VT323', monospace;
    font-size: 92px;
    color: black;
    text-shadow: rgb(77, 255, 23) 2px 2px 3px;
    margin: 0;
    position: relative;
    bottom: 32px;
    min-width: 1000px;
}

#tagline {
    font-family: 'Unlock', monospace;
    font-size: 42px;
    color: rgb(77, 255, 23);
    text-shadow: black 2px 2px 4px;
    margin: 0;
    position: relative;
    bottom: 44px;
    min-width: 1000px;
    -webkit-text-stroke-width: .001px;
    -webkit-text-stroke-color: black;
}

#backdrop {
    background-color: rgba(256, 256, 256, .5);
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 900px;
    height: 45%;
    top: -450px;
    box-shadow: 1px 1px 50px black;
    border-radius: 50%;
}

.buttons-green {
    color: black;
    font-size: 24px;
    background-color: rgb(77, 255, 23);
    border: solid black 3px;
    border-radius: 10%;
}

.buttons-green:hover {
    color: white;
    background-color: black;
    border: solid rgb(77, 255, 23) 3px;
}

.buttons-green:focus,
.buttons-green.focus {
    outline: none;
    box-shadow: 0px 0px 10px white;
    color: white;
}

.buttons-green:active,
.buttons-green.active,
.open > .dropdown-toggle.buttons-green {
    color: black;
    background-color: rgb(77, 255, 23);
    border: solid black 3px;
    outline: none;
    box-shadow: 0px 0px 10px white;
}

.buttons-green:active:hover,
.buttons-green.active:hover,
.open > .dropdown-toggle.buttons-green:hover,
.buttons-green:active:focus,
.buttons-green.active:focus,
.open > .dropdown-toggle.buttons-green:focus,
.buttons-green:active.focus,
.buttons-green.active.focus,
.open > .dropdown-toggle.buttons-green.focus {
    color: black;
    background-color: rgb(77, 255, 23);
    border: solid black 3px;
    outline: none;
    box-shadow: 0px 0px 10px white;
}   